Case_2.json
{
  "name": "Case 2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c142d05-51c0-46ee-b2a1-0ebf61c3d397",
              "name": "idConversa",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "579c2741-aad2-4cb5-86ab-45730904b20b",
              "name": "Menssagem",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "0b63c373-ed32-470b-a721-f1397b931df8",
              "name": "Nome",
              "value": "={{ $json.body.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -20
      ],
      "id": "375092eb-12de-4876-91b7-9548da6c4b93",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ASONsJ7kHzcE7ZsgXynHT4yw_tYAqyDRQqPcIux_BP4",
          "mode": "list",
          "cachedResultName": "n8nPlans",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASONsJ7kHzcE7ZsgXynHT4yw_tYAqyDRQqPcIux_BP4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 386445554,
          "mode": "list",
          "cachedResultName": "Case 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASONsJ7kHzcE7ZsgXynHT4yw_tYAqyDRQqPcIux_BP4/edit#gid=386445554"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp": "={{ $json.idConversa }}",
            "Nome": "={{ $json.Nome }}"
          },
          "matchingColumns": [
            "Whatsapp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        400,
        -20
      ],
      "id": "c61e264b-37ba-4ac4-84ef-cb093a1cd0e6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gzg29s1XKTZzeRUL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        620,
        220
      ],
      "id": "c6da5754-54f8-48e5-aef8-a8497544447f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Y7ikae0rXQQ6Pd4v",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Menssagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e ultilize emojis em suas respostas para deixar conversa mais humanizada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        -40
      ],
      "id": "92ac7b00-7da3-4f6a-b023-29ac30578bb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        220
      ],
      "id": "f665c8ed-3a33-4546-af0a-2f3935dec15d",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "id": "1a1bb278-5bcf-494a-b499-18b6d7d2c3d6",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1020,
        220
      ],
      "id": "15f6fd06-fd9f-4c4c-8bf8-26c92edf569f",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1800,
        20
      ],
      "id": "cc070165-295c-43d3-ad58-b9beab753b4c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cdf061c4-6948-4c9c-9c0c-b5b2ef80383f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "c4d04f43-7f77-4ecb-be24-fe4ad4b0e5b9",
      "name": "Webhook",
      "webhookId": "cdf061c4-6948-4c9c-9c0c-b5b2ef80383f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b360b888-2769-4669-9113-c0ee9200dcaf",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "34d6a863-673b-4508-b252-035d01811026",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b4db5e36-48b1-4578-b260-ed70b0823f52",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "da749ec7-1537-4373-8f39-8c28dfe5023c",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        0
      ],
      "id": "e1b3cbc8-977c-47f4-a034-a4318af9b0cf",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        340,
        220
      ],
      "id": "8934656c-f1e2-4e08-854f-b5f55c733d0f",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E25B70BE301904F49314AAAADA6D328/token/72DEF533549ECDD9191521D4/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "Fa0886e451b6d465eb976d0e53af7abe2S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.idConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -40
      ],
      "id": "83f6eaef-1222-43f9-999d-7465e9508370",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ed96d00-dab2-44f7-81aa-51a42d8ad7ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea1fdb69b768015eed521dae0dff307ff00c88868c113385d9be43309b660d50"
  },
  "id": "4snn8SL22KRvfzfS",
  "tags": []
}