Case_1.json
{
  "name": "Case 1",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nMeu nome é Linus. Como posso ajudar você hoje?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bca79df5-9cc8-434c-96ab-aaa7cb39911a",
      "name": "When chat message received",
      "webhookId": "e92f673e-153c-40a3-bd1c-05cbf13be22e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c142d05-51c0-46ee-b2a1-0ebf61c3d397",
              "name": "idConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "579c2741-aad2-4cb5-86ab-45730904b20b",
              "name": "Menssagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "105568be-948a-45b3-8b68-543ad7682c96",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ASONsJ7kHzcE7ZsgXynHT4yw_tYAqyDRQqPcIux_BP4",
          "mode": "list",
          "cachedResultName": "n8nPlans",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASONsJ7kHzcE7ZsgXynHT4yw_tYAqyDRQqPcIux_BP4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Case 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASONsJ7kHzcE7ZsgXynHT4yw_tYAqyDRQqPcIux_BP4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idConversa": "={{ $json.idConversa }}",
            "Menssagem": "={{ $json.Menssagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idConversa",
              "displayName": "idConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menssagem",
              "displayName": "Menssagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "dd897f73-e7c4-4f20-a741-234c07725725",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gzg29s1XKTZzeRUL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        620,
        220
      ],
      "id": "4fd9a232-70c7-4fa7-9fdd-dde4ec3c3696",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Y7ikae0rXQQ6Pd4v",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Menssagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e ultilize emojis em suas respostas para deixar conversa mais humanizada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "f5984221-9089-4bf2-940f-c80af691dac4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        220
      ],
      "id": "21a2d2b0-6cf8-4742-9e87-2e8825f78633",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "id": "2de96692-6797-4777-9101-c9a7319141c4",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1020,
        220
      ],
      "id": "a04586bb-91cb-4795-ab5e-dcfc49e4f359",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ],
      "id": "001c9ac3-a327-4eb4-bb2e-8e2dcd9d032d",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ba6f44e-f798-48ff-81cc-caf44a5b16cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea1fdb69b768015eed521dae0dff307ff00c88868c113385d9be43309b660d50"
  },
  "id": "yXMF1A5QizeeuRQT",
  "tags": []
}